/*——————————————————————————————————————————————————————————*\
 * BLOCK
\*——————————————————————————————————————————————————————————*/

.profile {
	display: flex;
	flex-direction: column;
	gap: var(--i-spacing-gap-lg);
	flex-grow: 1;
}

/*——————————————————————————————————————————————————————————*\
 * MODIFIERS BLOCK ( --modifier ) 
\*——————————————————————————————————————————————————————————*/

.profile {


}

/*——————————————————————————————————————————————————————————*\
 * EXCLUSIVE PROJECT ( --modifier ) 
\*——————————————————————————————————————————————————————————*/

.profile {

	& .fields-limited {
		flex-grow: 1;
		max-width: 26rem; // 368px
	}

}