@if (visible()) {
<div class="ptListitemNotification ptListitemNotification--simple" [class.ptListitemNotification--hiding]="!visible()" [ngStyle]="{ '--duration-message': durationMessage() }">
	<div class="ptListitemNotification__container" [ngStyle]="{ cursor: cursorStyle }" (click)="onNotificationClick.emit(notification)">
		<!-- MAIN -->
		<div class="ptListitemNotification__main">
			<div class="ptListitemNotification__header">
				<!-- CARD -->
				<p-card class="prCard prCard--compact">
					<ng-template #title>
						<div class="prCard__row">
							<div class="prCard__title">
								{{ teamRequest?.userFullname }}
								<!-- <div class="ptListitemNotification__indicator">
									@if (hasIndicator()) {
									<span class="u-dot u-color-success"></span>
									}
								</div> -->
							</div>
							<!-- <div class="prCard__wrap">
								<p-button class="prButton prButton--autoWidth prButton--borderTransparent" severity="secondary" icon="icon icon-cancel" size="small" />
							</div> -->

							<div class="prCard__wrap">
								<p-button
									class="prButton prButton--autoWidth prButton--borderTransparent"
									severity="secondary"
									icon="icon icon-cancel"
									size="small"
									(click)="onCloseNotification($event, notification)"
									[disabled]="isBusy(notification.recipientId, actionClose)"
								/>
							</div>
							<!-- <div class="prCard__wrap">
								<p-button class="prButton prButton--autoWidth prButton--borderTransparent" severity="secondary" icon="icon icon-cancel" size="small" />
							</div> -->
						</div>
					</ng-template>
					<ng-template #content>
						<div class="prCard__row">
							<span>{{ teamRequest?.userEmail }}</span>
							<div class="prCard__wrap u-ms-auto">
								<span class="u-bold">{{ domain.getTerm("LBL_REQUESTED_ON") }} {{ notification.createdAt | date : 'd MMM, y' }}</span>
							</div>
						</div>
						<div class="prCard__row">
							<p-badge class="prBadge icon icon-user" severity="warn" badgeSize="small" [value]="domain.getTerm('LBL_ACCOUNT_REQUEST')" />
							<div class="ptListitemNotification__actions" *ngIf="notification.actions?.length">
								<p-button
									*ngFor="let action of notification.actions"
									class="prButton"
									label="{{ domain.getTerm(domain.getJsonData(action.metaData)?.termCode) }}"
									size="small"
									icon="icon {{ domain.getJsonData(action?.metaData)?.icon }}"
									[severity]="domain.getSeverity(domain.getJsonData(action?.metaData)?.severity)"
									(click)="onActionClick($event, notification, action)"
									[disabled]="isBusy(notification.recipientId, action.code)"
								/>
								<!-- 
									<p-button class="prButton" label="Approve" size="small" icon="icon icon-input-success" (click)="UpdateNotification($event, 'approved')" />
									<p-button class="prButton" label="Reject" size="small" icon="icon icon-input-error" severity="secondary" (click)="UpdateNotification($event, 'rejected')" /> -->
							</div>
						</div>
					</ng-template>
				</p-card>
			</div>
			<div class="ptListitemNotification__footer"></div>
		</div>
		<!-- ASSIDE -->
		<div class="ptListitemNotification__aside">
			<div class="ptListitemNotification__message ptListitemNotification__message--{{ status() }}">
				<!-- is pending -->
				@if ( status() === 'pending' ) {
				<i class="icon icon-info"></i>
				{{ domain.getTerm("LBL_REQUEST_IS_PENDING") }} }
				<!-- is approved -->
				@if ( status() === 'approved' ) {
				<i class="icon icon-input-success"></i>
				{{ domain.getTerm("LBL_REQUEST_HAS_BEEN_APPROVED") }} }
				<!-- is rejected -->
				@if ( status() === 'rejected' ) {
				<i class="icon icon-input-error"></i>
				{{ domain.getTerm("LBL_REQUEST_HAS_BEEN_REJECTED") }} }
			</div>
		</div>
	</div>
</div>
}
