/* .prConfirmDialog {
	&.p-dialog {
		max-width: 440px;
		width: 440px;
		gap: var(--i-spacing-gap-lg); //16px
		padding: var(--i-spacing-container-2xl); //24px
		border-radius: var(--i-border-radius-200); //Forzado por que el componente se lo da directo
		color: var(--i-color-secondary-600); //#636b8d
		background: var(--i-color-secondary-50); //#FCFCFD
		box-shadow: var(--p-overlay-modal-shadow);
	}
	& .p-dialog-header-actions p-button {
		height: 24px;
	}
	& .p-dialog-header-actions .p-button {
		padding: var(--i-spacing-0); //0px
		height: auto;
		width: 24px;
	}
	& .p-dialog-header-actions .p-button .icon-cancel {
		color: #636b8c;
	}
	& .p-dialog-header {
		justify-content: end;
		padding: var(--i-spacing-0); //0px
	}
	& .p-dialog-content {
	}
	& .p-dialog-content i {
		display: block;
		width: 32px;
		height: 32px;
		line-height: var(--i-typography-lineHeight-2xl); //32px
	}
	& .p-dialog-content .icon-alert {
		color: #960d0d;
	}
	& .p-dialog-content .icon-warning {
		color: #c27d00;
	}
	& .p-dialog-content .icon-success {
		color: #126629;
	}
	& .p-dialog-footer {
		display: flex;
		justify-content: center;
		padding: var(--i-spacing-0); //0px
		gap: var(--i-spacing-gap-lg); //16px
	}
}
.prConfirmDialog {
	&__body {
		display: flex;
		flex-direction: column;
		gap: var(--i-spacing-gap-lg); //16px
	}
	&__icon {
		display: flex;
		justify-content: center;
	}
	&__content {
		display: flex;
		flex-direction: column;
		gap: var(--i-spacing-gap-lg); //16px
	}
	&__content &__title {
		display: flex;
		justify-content: center;
		text-align: center;
		font-weight: var(--i-typography-font-weight-bold); //700
		font-size: var(--i-sizing-sm); //20px
		line-height: var(--i-typography-lineHeight-xl); //28px
		color: #4f5470;
	}
	&__content &__subtitle {
		display: flex;
		justify-content: center;
		text-align: center;
		font-weight: var(--i-typography-font-weight-regular); //400
		font-size: var(--i-typography-font-size-lg); //16px
		line-height: var(--i-typography-font-size-2xl); //24px
		color: #4f5470;
	}
	&__details {
		display: flex;
		justify-content: center;
		text-align: center;
	}
}

.prConfirmDialog {
	&--warning &__title {
		color: #c27d00;
	}
	&--danger &__title {
		color: #960d0d;
	}
	&--error &__title {
		color: #960d0d;
	}
	&--success &__title {
		color: #126629;
	}
}
 */
