/*——————————————————————————————————————————————————————————*\
 * ICON (Base)
 * Defines base font-icons sizing and scale modifiers.
 * Scope: global usage across components and utilities.
\*——————————————————————————————————————————————————————————*/

.icon {
	display: flex;
	width: 1em;
	height: 1em;
	font-size: var(--i-icon-size-sm);
	border-radius: var(--i-border-radius-xs);

	// --- modifier size ---

	&--xs {
		font-size: var(--i-icon-size-xs); // 12px
	}

	&--sm {
		font-size: var(--i-icon-size-sm); // 16px
	}

	&--md {
		font-size: var(--i-icon-size-md); // 24px
	}

	&--lg {
		font-size: var(--i-icon-size-lg); // 32px
	}

	&--xl {
		font-size: var(--i-icon-size-xl); // 40px
	}

	// --- modifier outlined ---

	&--outlined {
		outline: 1px solid var(--i-border-default);
		outline-offset: -1px;

		background-color: var(--i-color-secondary-50);
		border-radius: var(--i-border-radius-xs);
	}

	// --- modifier state ---

	&--disabled {
		color: var(--i-icon-color-disabled);
	}

	&--success {
		color: var(--i-icon-color-success);
	}

	&--error {
		color: var(--i-icon-color-error);
	}
}

/*——————————————————————————————————————————————————————————*\
 * ICON (Brands)
\*——————————————————————————————————————————————————————————*/

.icon-visa,
.icon-mastercard,
.icon-amex {
	width: 1.5em;
	height: 1em;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.icon-visa {
	background-image: url('data:image/svg+xml,<svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.95957 1.69346L4.39885 4.31453H3.72084L4.28163 1.69346H4.95957ZM7.81225 3.38589L8.16922 2.40159L8.37463 3.38589H7.81225ZM8.56875 4.31453H9.19591L8.64864 1.69346H8.06975C7.93968 1.69346 7.82992 1.76912 7.78106 1.88576L6.76383 4.31453H7.47586L7.61722 3.92313H8.48712L8.56875 4.31453ZM6.79917 3.45873C6.80207 2.76694 5.84249 2.72886 5.84913 2.41984C5.85112 2.32568 5.9408 2.2258 6.13666 2.20017C6.23397 2.18747 6.50151 2.17777 6.80531 2.31755L6.92427 1.76173C6.76109 1.7025 6.55112 1.64551 6.28997 1.64551C5.61983 1.64551 5.14813 2.00181 5.14415 2.51201C5.13992 2.8893 5.48088 3.09985 5.7378 3.22528C6.00194 3.35379 6.0907 3.43608 6.08954 3.55098C6.0878 3.72693 5.87883 3.80442 5.68388 3.80749C5.34292 3.81288 5.14506 3.71548 4.98736 3.64198L4.8645 4.2163C5.02286 4.28906 5.31529 4.35227 5.61867 4.35551C6.33087 4.35551 6.79684 4.0036 6.79917 3.45873ZM3.9907 1.69346L2.89217 4.31453H2.17532L1.63477 2.22273C1.60192 2.0939 1.57338 2.04678 1.47358 1.99244C1.31073 1.90409 1.04153 1.82105 0.804688 1.76961L0.820864 1.69346H1.97456C2.12157 1.69346 2.25388 1.79135 2.28723 1.96067L2.57278 3.47748L3.27834 1.69346H3.9907Z" fill="%231434CB"/></svg>');
}

.icon-mastercard {
	background-image: url('data:image/svg+xml,<svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.81125 1.4276H4.18883V4.5724H5.81125V1.4276Z" fill="%23FF5F00"/><path d="M4.29185 3C4.29159 2.69713 4.35522 2.39817 4.47792 2.12575C4.60061 1.85333 4.77916 1.61459 5.00005 1.4276C4.72651 1.19569 4.39801 1.05147 4.05208 1.01142C3.70615 0.971374 3.35675 1.03711 3.04382 1.20113C2.73089 1.36514 2.46705 1.62081 2.28247 1.93892C2.09789 2.25702 2 2.62473 2 3C2 3.37527 2.09789 3.74298 2.28247 4.06108C2.46705 4.37919 2.73089 4.63486 3.04382 4.79887C3.35675 4.96289 3.70615 5.02863 4.05208 4.98858C4.39801 4.94853 4.72651 4.80431 5.00005 4.5724C4.77916 4.38541 4.60062 4.14667 4.47792 3.87425C4.35523 3.60183 4.2916 3.30287 4.29185 3Z" fill="%23EB001B"/><path d="M8 3C8.00001 3.37527 7.90214 3.74297 7.71756 4.06108C7.53299 4.37918 7.26916 4.63485 6.95624 4.79887C6.64332 4.96288 6.29392 5.02863 5.948 4.98858C5.60207 4.94853 5.27357 4.80431 5.00005 4.5724C5.22073 4.38522 5.39914 4.14644 5.52182 3.87406C5.6445 3.60169 5.70824 3.30282 5.70824 3C5.70824 2.69718 5.6445 2.39831 5.52182 2.12594C5.39914 1.85356 5.22073 1.61478 5.00005 1.4276C5.27357 1.19569 5.60207 1.05147 5.948 1.01142C6.29392 0.971374 6.64332 1.03712 6.95624 1.20113C7.26916 1.36515 7.53299 1.62082 7.71756 1.93892C7.90214 2.25703 8.00001 2.62473 8 3Z" fill="%23F79E1B"/></svg>');
}

.icon-amex {
	background-image: url('data:image/svg+xml,<svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.99927 0.376529H8.96395L8.4228 1.9295L7.85807 0.376529H6.79926V2.79463L5.71687 0.376529H4.84633L3.76394 2.84712H4.51686L4.72863 2.35303H5.85807L6.06984 2.84712H7.48161V1.12945L8.1169 2.84712H8.70512L9.34041 1.12945V2.84712H9.99927V3.22358H9.12865L8.4228 4.00007L7.69338 3.22358H4.70513V5.69417H7.66988L8.39923 4.89419L9.12865 5.69417H9.99927V6H8.96395L8.39923 5.38828L7.8345 6H4.32867V3.17651H3.19922L4.61099 0H5.9757L6.46979 1.08238V0H8.16397L8.44629 0.823554L8.72869 0H9.99927V0.376529ZM9.99927 3.76474L9.36398 4.44709L9.99927 5.12945V5.69417L8.84632 4.44709L9.99927 3.22358V3.76474ZM6.79926 5.69417V5.10595H5.38748V4.72949H6.77569V4.16477H5.38748V3.78831H6.79926V3.22358L7.9757 4.44709L6.79926 5.69417ZM4.94039 1.8118L5.26985 1.01182L5.59925 1.8118H4.94039Z" fill="%23006FCF"/></svg>');
}

/*——————————————————————————————————————————————————————————*\
 * ICON (Additional)
\*——————————————————————————————————————————————————————————*/

.icon-toggle {
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.icon-toggle {
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='21' height='18' viewBox='0 0 21 18'><path fill-rule='evenodd' clip-rule='evenodd' d='M2.625 1.71429C2.1875 1.71429 2.625 1.71429 1.75 1.71429C1.75 1.71429 1.75 2.40093 1.75 2.57143V15.4286C1.75 15.5991 1.75 16.2857 1.75 16.2857C2.1875 16.2857 2.45095 16.2857 2.625 16.2857H5.25V1.71429H2.625ZM7 1.71429V16.2857H18.375C18.549 16.2857 18.8125 16.2857 19.25 16.2857C19.25 15.4286 19.25 15.5991 19.25 15.4286V2.57143C19.25 2.40093 19.25 1.71429 19.25 1.71429C19.25 1.71429 18.549 1.71429 18.375 1.71429H7ZM0 2.57143C0 1.88944 0.276562 1.23539 0.768845 0.753154C1.26113 0.270918 1.92881 0 2.625 0H18.375C19.0712 0 19.7389 0.270918 20.2312 0.753154C20.7234 1.23539 21 1.88944 21 2.57143V15.4286C21 16.1106 20.7234 16.7646 20.2312 17.2468C19.7389 17.7291 19.0712 18 18.375 18H2.625C1.92881 18 1.26113 17.7291 0.768845 17.2468C0.276562 16.7646 0 16.1106 0 15.4286V2.57143ZM10.4606 8.31857L13.7419 5.10429L15.1331 6.46714L12.5475 9L15.1331 11.5329L13.7419 12.8957L10.4606 9.68143C10.2763 9.50062 10.1727 9.25554 10.1727 9C10.1727 8.74446 10.2763 8.49938 10.4606 8.31857Z' fill='%23636B8D'/></svg>");
}
