/*——————————————————————————————————————————————————————————*\
 * TOKENS
\*——————————————————————————————————————————————————————————*/

:root {
	--NOTE-PAGE-LAYOUT: "lyPage (Title, Panel's / Content's)";
}

/*——————————————————————————————————————————————————————————*\
 * LAYOUT
\*——————————————————————————————————————————————————————————*/

.lyPage {
	display: flex;
	flex-direction: column;
	gap: var(--i-spacing-gap-lg);
	flex-grow: 1;
}

/*——————————————————————————————————————————————————————————*\
 * FORCE OTHERS
\*——————————————————————————————————————————————————————————*/