/*——————————————————————————————————————————————————————————*\
 * TOKENS FIGMA
 * Collections: Foundations -> Alias -> Semantics -> Components
 * Visual Ref.: https://app.supernova.io/528123-intelica/568712-new-library-tokens/600052-shared-draft/606021-default/tokens/collections/105439
\*——————————————————————————————————————————————————————————*/

:root { --i-NOTE-GLOBAL: 'Global Tokens';
	--i-color-blue-50: #EEF2FC;
	--i-color-blue-100: #DDE6F8;
	--i-color-blue-200: #B2C6F0;
	--i-color-blue-300: #88A6E8;
	--i-color-blue-400: #5D86DF;
	--i-color-blue-500: #3267D7;
	--i-color-blue-600: #2351B3;
	--i-color-blue-700: #1B3E88;
	--i-color-blue-800: #122A5E;
	--i-color-blue-900: #0A1733;
	--i-color-grey-50: #fcfcfc;
	--i-color-grey-100: #f2f2f5;
	--i-color-grey-200: #d9d9e3;
	--i-color-grey-300: #babfcf;
	--i-color-grey-400: #9ca3ba;
	--i-color-grey-500: #7d85a6;
	--i-color-grey-600: #636b8c;
	--i-color-grey-700: #4f5470;
	--i-color-grey-800: #383d52;
	--i-color-grey-900: #242633;
	// --- begin: new grey ( for graphics ) --
	--i-color-new-grey-50: #f6f7f9;
	--i-color-new-grey-100: #eceef2;
	--i-color-new-grey-200: #d5dae2;
	--i-color-new-grey-300: #b1bac8;
	--i-color-new-grey-400: #8694aa;
	--i-color-new-grey-500: #64738b;
	--i-color-new-grey-600: #525f77;
	--i-color-new-grey-700: #434d61;
	--i-color-new-grey-800: #3a4252;
	--i-color-new-grey-900: #343a46;
	// --- end: new grey ( for graphics ) --
	--i-color-orange-50: #FFF6F1;
	--i-color-orange-100: #FFEAE0;
	--i-color-orange-200: #FFC7AD;
	--i-color-orange-300: #FFA47A;
	--i-color-orange-400: #FF8147;
	--i-color-orange-500: #FF5F16;
	--i-color-orange-600: #E04600;
	--i-color-orange-700: #AD3600;
	--i-color-orange-800: #7A2600;
	--i-color-orange-900: #471600;
	--i-color-red-50: #fceded;  
	--i-color-red-100: #fcd9d9; 
	--i-color-red-200: #f7abab; 
	--i-color-red-300: #f57a7a; 
	--i-color-red-400: #f04a4a; 
	--i-color-red-500: #ed1c1c; 
	--i-color-red-600: #c70f0f; 
	--i-color-red-700: #960d0d; 
	--i-color-red-800: #690808; 
	--i-color-red-900: #380505; 
	--i-color-green-50: #f2faf5;
	--i-color-green-100: #e5faeb;
	--i-color-green-200: #baf3c9;
	--i-color-green-300: #8feba7;
	--i-color-green-400: #64e386;
	--i-color-green-500: #39db64;
	--i-color-green-600: #24bf4d;
	--i-color-green-700: #1c913b;
	--i-color-green-800: #126629;
	--i-color-green-900: #0a3d17;
	--i-color-amber-50: #fffbf5;
	--i-color-amber-100: #fff8ed;
	--i-color-amber-200: #ffeac2;
	--i-color-amber-300: #ffd88f;
	--i-color-amber-400: #ffc65c;
	--i-color-amber-500: #ffb52b;
	--i-color-amber-600: #f59f00;
	--i-color-amber-700: #c27e00;
	--i-color-amber-800: #8f5d00;
	--i-color-amber-900: #5c3c00;
	--i-color-royalblue-100: #a8bff5;
	--i-color-royalblue-300: #7c9cee;
	--i-color-royalblue-500: #4f7ae8;
	--i-color-royalblue-700: #284eaf;
	--i-color-royalblue-900: #0d2663;
	--i-color-skyblue-100: #bae0ed;
	--i-color-skyblue-300: #9fd8ec;
	--i-color-skyblue-500: #69bfdb;
	--i-color-skyblue-700: #3a839a;
	--i-color-skyblue-900: #0d2b36;
	--i-color-lightpurple-100: #c4bdeb;
	--i-color-lightpurple-300: #a499e1;
	--i-color-lightpurple-500: #7d6ed1;
	--i-color-lightpurple-700: #4b3d97;
	--i-color-lightpurple-900: #261c59;
	--i-color-greenishblue-100: #ade5e0;
	--i-color-greenishblue-300: #61ccc2;
	--i-color-greenishblue-500: #30968f;
	--i-color-greenishblue-700: #247069;
	--i-color-greenishblue-900: #0f332e;
	// --- begin: new colors --
	--i-color-teal-50: #dcede9;
	--i-color-teal-100: #b1ddd3;
	--i-color-teal-300: #7ec3b2;
	--i-color-teal-500: #5cb39d;
	--i-color-teal-700: #469681;
	--i-color-teal-900: #367363;
	--i-color-pastelgreen-50: #f0fdeb;
	--i-color-pastelgreen-100: #cde1c6;
	--i-color-pastelgreen-300: #afd0a4;
	--i-color-pastelgreen-500: #91be82;
	--i-color-pastelgreen-700: #74ad61;
	--i-color-pastelgreen-900: #5c904b;
	--i-color-olive-50: #f4f7e1;
	--i-color-olive-100: #dce3b5;
	--i-color-olive-300: #cbd590;
	--i-color-olive-500: #bac76d;
	--i-color-olive-700: #a8b847;
	--i-color-olive-900: #869339;
	--i-color-yellow-50: #fffbec;
	--i-color-yellow-100: #fbedb1;
	--i-color-yellow-300: #f9e180;
	--i-color-yellow-500: #f7d54d;
	--i-color-yellow-700: #f4c50b;
	--i-color-yellow-900: #d7ae0a;
	--i-color-olive-100: #cac3ff;
	--i-color-olive-200: #b0a5ff;
	--i-color-olive-300: #9587ff;
	--i-color-olive-400: #7b69ff;
	--i-color-olive-500: #604bff;
	--i-color-olive-600: #503fd5;
	--i-color-olive-700: #4032aa;
	--i-color-olive-800: #302680;
	--i-color-olive-900: #201955;
	// --- end: new colors --
	--i-color-oceanblue-50: #E8EEF1;  // eliminado de DS
	--i-color-oceanblue-100: #B0CEDE; // eliminado de DS
	--i-color-oceanblue-300: #8CB7CF; // eliminado de DS
	--i-color-oceanblue-500: #68A1C0; // eliminado de DS
	--i-color-oceanblue-700: #4889AD; // eliminado de DS
	--i-color-oceanblue-900: #396D89; // eliminado de DS
	--i-color-light-50: #f0f5ff;
	--i-color-light-100: #dee5fa;
	--i-color-light-200: #e5edff;
	--i-color-light-300: #d6e0fa;
	--i-color-light-400: #ccd9f7;
	--i-color-light-500: #c9d6f7;
	--i-color-dark-50: #0f1433; 
	--i-color-dark-100: #0d122e; 
	--i-color-dark-200: #0d122b; 
	--i-color-dark-300: #0a0d24; 
	--i-color-dark-400: #050a17; 
	--i-color-dark-500: #05050f; 
	// --- begin: color brand ---
	--i-color-blue-visa-50:	#f0f6fd;
	--i-color-blue-visa-100:#e3eefc;
	--i-color-blue-visa-200:#cddff8;
	--i-color-blue-visa-300:#afcaf2;
	--i-color-blue-visa-400:#8eaceb;
	--i-color-blue-visa-500:#738fe1;
	--i-color-blue-visa-600:#576dd4;
	--i-color-blue-visa-700:#485aba;
	--i-color-blue-visa-800:#3d4c96;
	--i-color-blue-visa-900:#374478;
	--i-color-orange-mastercard-50: #fff8ed;
	--i-color-orange-mastercard-100: #fff0d4;
	--i-color-orange-mastercard-200: #ffdea9;
	--i-color-orange-mastercard-300: #ffc672;
	--i-color-orange-mastercard-400: #fea239;
	--i-color-orange-mastercard-500: #fc8613;
	--i-color-orange-mastercard-600: #ed6a09;
	--i-color-orange-mastercard-700: #c4500a;
	--i-color-orange-mastercard-800: #9c3f10;
	--i-color-orange-mastercard-900: #7d3511;
	--i-color-green-amex-50: #f6f9f4;
	--i-color-green-amex-100: #e9f3e5;
	--i-color-green-amex-200: #d2e7cb;
	--i-color-green-amex-300: #afd2a3;
	--i-color-green-amex-400: #91be82;
	--i-color-green-amex-500: #61994e;
	--i-color-green-amex-600: #4c7d3c;
	--i-color-green-amex-700: #3e6332;
	--i-color-green-amex-800: #34502b;
	--i-color-green-amex-900: #2b4225;
	//	--- end: color brand ---
	--i-typography-font-family-lato: "Lato";
	--i-typography-font-weight-100: 100;
	--i-typography-font-weight-400: 400;
	--i-typography-font-weight-700: 700;
	--i-typography-font-size-50: 10px;
	--i-typography-font-size-100: 12px;
	--i-typography-font-size-150: 14px;
	--i-typography-font-size-200: 16px;
	--i-typography-font-size-250: 20px;
	--i-typography-font-size-300: 24px;
	--i-typography-font-size-350: 32px;
	--i-typography-font-size-400: 40px;
	--i-typography-font-size-450: 48px;
	--i-typography-font-size-500: 64px;
	--i-typography-lineHeight-100: 12px;
	--i-typography-lineHeight-200: 16px;
	--i-typography-lineHeight-300: 20px;
	--i-typography-lineHeight-400: 24px;
	--i-typography-lineHeight-500: 28px;
	--i-typography-lineHeight-600: 32px;
	--i-typography-lineHeight-700: 40px;
	--i-typography-lineHeight-800: 48px;
	--i-typography-lineHeight-900: 52px;
	--i-typography-lineHeight-1000: 72px;
	--i-typography-letterSpacing-0: 0;
	--i-typography-letterSpacing-25: 0.25px;
	--i-typography-paragraphSpacing-200: 16px;
	--i-spacing-0: 0;
	--i-spacing-15: 1px;
	--i-spacing-25: 2px;
	--i-spacing-50: 4px;
	--i-spacing-75: 6px;
	--i-spacing-100: 8px;
	--i-spacing-150: 12px;
	--i-spacing-200: 16px;
	--i-spacing-250: 20px;
	--i-spacing-300: 24px;
	--i-spacing-350: 28px;
	--i-spacing-400: 32px;
	--i-spacing-500: 40px;
	--i-spacing-600: 48px;
	--i-spacing-700: 56px;
	--i-spacing-800: 64px;
	--i-spacing-1000: 80px;
	--i-sizing-150: 12px;
	--i-sizing-200: 16px;
	--i-sizing-250: 20px;
	--i-sizing-300: 24px;
	--i-sizing-400: 32px;
	--i-sizing-450: 36px;
	--i-sizing-500: 40px;
	--i-sizing-600: 48px;
	--i-sizing-800: 64px;
	--i-sizing-1000: 96px;
	--i-border-width-0: 0;
	--i-border-width-10: 1px;
	--i-border-width-25: 2px;
	--i-border-width-50: 4px;
	--i-border-radius-0: 0;
	--i-border-radius-25: 2px;
	--i-border-radius-50: 4px;
	--i-border-radius-75: 6px;
	--i-border-radius-100: 8px;
	--i-border-radius-150: 12px;
	--i-border-radius-200: 16px;
	--i-border-radius-250: 20px;
	--i-border-radius-300: 24px;
	--i-border-radius-400: 32px;
	--i-border-radius-500: 40px;
	--i-shadow-x-0: 0;
	--i-shadow-y-25: 1px;
	--i-shadow-y-50: 2px;
	--i-shadow-y-100: 4px;
	--i-shadow-y-150: 12px;
	--i-shadow-y-200: 16px;
	--i-shadow-blur-50: 4px;
	--i-shadow-blur-75: 6px;
	--i-shadow-blur-200: 16px;
	--i-shadow-blur-400: 32px;
	--i-shadow-spread-0: 0;
	--i-shadow-spread-20: -2px;
	--i-shadow-spread-40: -4px;
	--i-shadow-spread-80: -8px;
	--i-shadow-color-100: hsla(232, 17%, 17%, 0.051); // old rgba(36, 38, 51, 0.05); 
	--i-shadow-color-200: hsla(232, 17%, 17%, 0.078); // old rgba(36, 38, 51, 0.08); 
	--i-shadow-color-300: hsla(232, 17%, 17%, 0.102); // old rgba(36, 38, 51, 0.1); 
	--i-shadow-color-400: hsla(232, 17%, 17%, 0.4);   // old rgba(36, 38, 51, 0.4); 
	--i-opacity-0: 0;
	--i-opacity-50: 0.5;
	--i-opacity-100: 1;
	--i-color-product-a-note: "Fee Manager";
	--i-color-product-b-note: "Interchange Hub";
	--i-color-product-c-note: "Budget Planner";
	--i-color-product-d-note: "Merchant Profitability";
	--i-color-product-e-note: "Operating Certificate Builder";
	--i-typography-letterSpacing-tight: -0.25px;
	--i-spacing-gap-none: 0;
	--i-spacing-container-none: 0;
	--i-border-radius-full: 1000px;
	--i-form-legend-font-weight: normal;
	--i-form-field-border-width: 0;
	--i-form-field-border-radius: 0;
	--i-form-field-space-width: 0;
	--i-form-field-background-width: 0;
	--i-text-hyperlink-decoration: underline;
	--i-color-primary-50: var(--i-color-blue-50);
	--i-color-primary-100: var(--i-color-blue-100);
	--i-color-primary-200: var(--i-color-blue-200);
	--i-color-primary-300: var(--i-color-blue-300);
	--i-color-primary-400: var(--i-color-blue-400);
	--i-color-primary-500: var(--i-color-blue-500);
	--i-color-primary-600: var(--i-color-blue-600);
	--i-color-primary-700: var(--i-color-blue-700);
	--i-color-primary-800: var(--i-color-blue-800);
	--i-color-primary-900: var(--i-color-blue-900);
	--i-color-secondary-50: var(--i-color-grey-50);
	--i-color-secondary-100: var(--i-color-grey-100);
	--i-color-secondary-200: var(--i-color-grey-200);
	--i-color-secondary-300: var(--i-color-grey-300);
	--i-color-secondary-400: var(--i-color-grey-400);
	--i-color-secondary-500: var(--i-color-grey-500);
	--i-color-secondary-600: var(--i-color-grey-600);
	--i-color-secondary-700: var(--i-color-grey-700);
	--i-color-secondary-800: var(--i-color-grey-800);
	--i-color-secondary-900: var(--i-color-grey-900);
	--i-color-tertiary-50: var(--i-color-orange-50);
	--i-color-tertiary-100: var(--i-color-orange-100);
	--i-color-tertiary-200: var(--i-color-orange-200);
	--i-color-tertiary-300: var(--i-color-orange-300);
	--i-color-tertiary-400: var(--i-color-orange-400);
	--i-color-tertiary-500: var(--i-color-orange-500);
	--i-color-tertiary-600: var(--i-color-orange-600);
	--i-color-tertiary-700: var(--i-color-orange-700);
	--i-color-tertiary-800: var(--i-color-orange-800);
	--i-color-tertiary-900: var(--i-color-orange-900);
	--i-color-neutral-50: var(--i-color-grey-50);
	--i-color-neutral-100: var(--i-color-grey-100);
	--i-color-neutral-200: var(--i-color-grey-200);
	--i-color-neutral-300: var(--i-color-grey-300);
	--i-color-neutral-400: var(--i-color-grey-400);
	--i-color-neutral-500: var(--i-color-grey-500);
	--i-color-neutral-600: var(--i-color-grey-600);
	--i-color-neutral-700: var(--i-color-grey-700);
	--i-color-neutral-800: var(--i-color-grey-800);
	--i-color-neutral-900: var(--i-color-grey-900);
	--i-color-surface-100: var(--i-color-grey-100);
	--i-color-success-50: var(--i-color-green-50);
	--i-color-success-100: var(--i-color-green-100);
	--i-color-success-200: var(--i-color-green-200);
	--i-color-success-300: var(--i-color-green-300);
	--i-color-success-400: var(--i-color-green-400);
	--i-color-success-500: var(--i-color-green-500);
	--i-color-success-600: var(--i-color-green-600);
	--i-color-success-700: var(--i-color-green-700);
	--i-color-success-800: var(--i-color-green-800);
	--i-color-success-900: var(--i-color-green-900);
	--i-color-warning-50: var(--i-color-amber-50);
	--i-color-warning-100: var(--i-color-amber-100);
	--i-color-warning-200: var(--i-color-amber-200);
	--i-color-warning-300: var(--i-color-amber-300);
	--i-color-warning-400: var(--i-color-amber-400);
	--i-color-warning-500: var(--i-color-amber-500);
	--i-color-warning-600: var(--i-color-amber-600);
	--i-color-warning-700: var(--i-color-amber-700);
	--i-color-warning-800: var(--i-color-amber-800);
	--i-color-warning-900: var(--i-color-amber-900);
	--i-color-error-50: var(--i-color-red-50);
	--i-color-error-100: var(--i-color-red-100);
	--i-color-error-200: var(--i-color-red-200);
	--i-color-error-300: var(--i-color-red-300);
	--i-color-error-400: var(--i-color-red-400);
	--i-color-error-500: var(--i-color-red-500);
	--i-color-error-600: var(--i-color-red-600);
	--i-color-error-700: var(--i-color-red-700);
	--i-color-error-800: var(--i-color-red-800);
	--i-color-error-900: var(--i-color-red-900);
	--i-color-product-a-100: var(--i-color-royalblue-100);
	--i-color-product-b-100: var(--i-color-orange-100);
	--i-color-product-b-500: var(--i-color-orange-500);
	--i-color-product-b-900: var(--i-color-orange-900);
	--i-color-product-b-base: var(--i-color-product-b-500);
	--i-color-product-a-500: var(--i-color-royalblue-500);
	--i-color-product-a-900: var(--i-color-royalblue-900);
	--i-color-product-c-100: var(--i-color-skyblue-100);
	--i-color-product-c-500: var(--i-color-skyblue-500);
	--i-color-product-c-900: var(--i-color-skyblue-900);
	--i-color-product-d-100: var(--i-color-lightpurple-100);
	--i-color-product-c-base: var(--i-color-product-c-500);
	--i-color-product-d-500: var(--i-color-lightpurple-500);
	--i-color-product-d-900: var(--i-color-lightpurple-900);
	--i-color-product-d-base: var(--i-color-product-d-500);
	--i-color-product-e-100: var(--i-color-greenishblue-100);
	--i-color-product-e-500: var(--i-color-greenishblue-500);
	--i-color-product-e-900: var(--i-color-greenishblue-900);
	--i-color-product-e-base: var(--i-color-product-e-500);
	--i-color-primary-base: var(--i-color-primary-700);
	--i-color-secondary-base: var(--i-color-secondary-600);
	--i-color-tertiary-base: var(--i-color-tertiary-500);
	--i-color-neutral-base: var(--i-color-neutral-600);
	--i-color-success-base: var(--i-color-success-400);
	--i-color-warning-base: var(--i-color-warning-400);
	--i-color-error-base: var(--i-color-error-400);
	--i-color-product-a-base: var(--i-color-product-a-500);
	--i-typography-font-family-base: var(--i-typography-font-family-lato);
	--i-typography-font-weight-light: var(--i-typography-font-weight-100);
	--i-typography-font-weight-regular: var(--i-typography-font-weight-400);
	--i-typography-font-weight-bold: var(--i-typography-font-weight-700);
	--i-typography-font-size-xs: var(--i-typography-font-size-50);
	--i-typography-font-size-sm: var(--i-typography-font-size-100);
	--i-typography-font-size-md: var(--i-typography-font-size-150);
	--i-typography-font-size-lg: var(--i-typography-font-size-200);
	--i-typography-font-size-xl: var(--i-typography-font-size-250);
	--i-typography-font-size-2xl: var(--i-typography-font-size-300);
	--i-typography-font-size-3xl: var(--i-typography-font-size-350);
	--i-typography-font-size-4xl: var(--i-typography-font-size-400);
	--i-typography-font-size-5xl: var(--i-typography-font-size-450);
	--i-typography-font-size-6xl: var(--i-typography-font-size-500);
	--i-typography-lineHeight-xs: var(--i-typography-lineHeight-100);
	--i-typography-lineHeight-sm: var(--i-typography-lineHeight-200);
	--i-typography-lineHeight-md: var(--i-typography-lineHeight-300);
	--i-typography-lineHeight-lg: var(--i-typography-lineHeight-400);
	--i-typography-lineHeight-xl: var(--i-typography-lineHeight-500);
	--i-typography-lineHeight-2xl: var(--i-typography-lineHeight-600);
	--i-typography-lineHeight-3xl: var(--i-typography-lineHeight-700);
	--i-typography-lineHeight-4xl: var(--i-typography-lineHeight-800);
	--i-typography-lineHeight-5xl: var(--i-typography-lineHeight-900);
	--i-typography-lineHeight-6xl: var(--i-typography-lineHeight-1000);
	--i-typography-letterSpacing-normal: var(--i-typography-letterSpacing-0);
	--i-typography-letterSpacing-wide: var(--i-typography-letterSpacing-25);
	--i-typography-paragraphSpacing-base: var(--i-typography-paragraphSpacing-200);
	--i-spacing-gap-xs: var(--i-spacing-50);
	--i-spacing-gap-sm: var(--i-spacing-100);
	--i-spacing-gap-md: var(--i-spacing-150);
	--i-spacing-gap-lg: var(--i-spacing-200);
	--i-spacing-gap-xl: var(--i-spacing-400);
	--i-spacing-gap-2xl: var(--i-spacing-500);
	--i-spacing-container-2xs: var(--i-spacing-25);
	--i-spacing-container-xs: var(--i-spacing-50);
	--i-spacing-container-sm: var(--i-spacing-75);
	--i-spacing-container-md: var(--i-spacing-100);
	--i-spacing-container-lg: var(--i-spacing-150);
	--i-spacing-container-xl: var(--i-spacing-200);
	--i-spacing-container-2xl: var(--i-spacing-300);
	--i-spacing-container-3xl: var(--i-spacing-800);
	--i-spacing-baseline-rhythm: var(--i-spacing-50);
	--i-sizing-2xs: var(--i-sizing-150);
	--i-border-width-none: var(--i-border-width-0);
	--i-shadow-x-none: var(--i-shadow-x-0);
	--i-sizing-xs: var(--i-sizing-200);
	--i-sizing-sm: var(--i-sizing-250);
	--i-sizing-md: var(--i-sizing-300);
	--i-sizing-lg: var(--i-sizing-400);
	--i-sizing-xl: var(--i-sizing-500);
	--i-sizing-2xl: var(--i-sizing-800);
	--i-sizing-3xl: var(--i-sizing-1000);
	--i-border-radius-none: var(--i-border-radius-0);
	--i-border-radius-xs: var(--i-border-radius-25);
	--i-border-radius-sm: var(--i-border-radius-50);
	--i-border-radius-md: var(--i-border-radius-75);
	--i-border-radius-lg: var(--i-border-radius-100);
	--i-border-radius-xl: var(--i-border-radius-150);
	--i-border-radius-2xl: var(--i-border-radius-200);
	--i-border-radius-3xl: var(--i-border-radius-250);
	--i-border-radius-4xl: var(--i-border-radius-300);
	--i-border-radius-5xl: var(--i-border-radius-400);
	--i-border-radius-6xl: var(--i-border-radius-500);
	--i-border-width-sm: var(--i-border-width-10);
	--i-border-width-md: var(--i-border-width-25);
	--i-border-width-lg: var(--i-border-width-50);
	--i-opacity-transparent: var(--i-opacity-0);
	--i-opacity-semi: var(--i-opacity-50);
	--i-opacity-solid: var(--i-opacity-100);
	--i-shadow-y-xs: var(--i-shadow-y-25);
	--i-shadow-y-sm: var(--i-shadow-y-50);
	--i-shadow-y-md: var(--i-shadow-y-100);
	--i-shadow-y-lg: var(--i-shadow-y-150);
	--i-shadow-y-xl: var(--i-shadow-y-200);
	--i-shadow-blur-xs: var(--i-shadow-blur-50);
	--i-shadow-blur-sm: var(--i-shadow-blur-75);
	--i-shadow-blur-md: var(--i-shadow-blur-200);
	--i-shadow-blur-lg: var(--i-shadow-blur-400);
	--i-shadow-spread-none: var(--i-shadow-spread-0);
	--i-shadow-color-base: var(--i-shadow-color-100);
	--i-shadow-spread-xs: var(--i-shadow-spread-20);
	--i-shadow-spread-sm: var(--i-shadow-spread-40);
	--i-shadow-spread-md: var(--i-shadow-spread-80);
	--i-shadow-color-soft: var(--i-shadow-color-200);
	--i-shadow-color-medium: var(--i-shadow-color-300);
	--i-shadow-color-strong: var(--i-shadow-color-400);
	--i-badge-primary-background: var(--i-background-default);
	--i-badge-primary-color: var(--i-text-color-secondary);
	--i-badge-primary-icon: var(--i-icon-color-secondary);
	--i-badge-primary-border: var(--i-border-secondary);
	--i-badge-primary-info-background: var(--i-background-subtle);
	--i-badge-primary-info-color: var(--i-text-color-default);
	--i-badge-primary-info-icon: var(--i-icon-color-default);
	--i-badge-primary-info-border: var(--i-icon-color-default);
	--i-badge-primary-success-background: var(--i-background-success);
	--i-badge-primary-success-color: var(--i-text-color-success);
	--i-badge-primary-success-icon: var(--i-icon-color-success);
	--i-badge-primary-success-border: var(--i-border-success);
	--i-badge-primary-warning-background: var(--i-background-warning);
	--i-badge-primary-warning-color: var(--i-text-color-warning);
	--i-badge-primary-warning-icon: var(--i-icon-color-warning);
	--i-badge-primary-warning-border: var(--i-border-warning);
	--i-badge-primary-error-background: var(--i-background-error);
	--i-badge-primary-error-color: var(--i-text-color-error);
	--i-badge-primary-error-icon: var(--i-icon-color-error);
	--i-badge-primary-error-border: var(--i-border-error);
	--i-badge-primary-disabled-background: var(--i-background-disabled);
	--i-badge-primary-disabled-color: var(--i-text-color-disabled);
	--i-badge-primary-disabled-icon: var(--i-icon-color-disabled);
	--i-badge-primary-disabled-border: var(--i-text-color-disabled);
	--i-badge-filter-background: var(--i-background-subtle);
	--i-badge-filter-color: var(--i-text-color-subtle);
	--i-badge-filter-icon: var(--i-icon-color-subtle);
	--i-badge-filter-hover-background: var(--i-background-subtle);
	--i-badge-filter-hover-color: var(--i-text-color-subtle);
	--i-badge-filter-hover-icon: var(--i-icon-color-subtle);
	--i-badge-filter-hover-border: var(--i-border-accent);
	--i-badge-border-width-none: var(--i-border-width-none);
	--i-badge-border-width-sm: var(--i-border-width-sm);
	--i-badge-border-radius-full: var(--i-border-radius-full);
	--i-badge-gap-xs: var(--i-spacing-gap-xs);
	--i-badge-padding-x-md: var(--i-spacing-container-md);
	--i-badge-padding-x-lg: var(--i-spacing-container-lg);
	--i-badge-padding-x-xl: var(--i-spacing-container-xl);
	--i-badge-padding-y-sm: var(--i-spacing-container-sm);
	--i-badge-padding-y-md: var(--i-spacing-container-md);
	--i-badge-font-fontFamily: var(--i-text-body-family);
	--i-badge-font-weight: var(--i-text-body-weight);
	--i-badge-font-size-xs: var(--i-typography-font-size-xs);
	--i-badge-font-size-sm: var(--i-typography-font-size-sm);
	--i-badge-font-size-lg: var(--i-typography-font-size-lg);
	--i-badge-sizing-md: var(--i-sizing-sm);
	--i-badge-sizing-lg: var(--i-sizing-lg);
	--i-badge-sizing-xl: var(--i-sizing-xl);
	--i-button-primary-background: var(--i-background-accent);
	--i-divider-color-default: var(--i-border-default);
	--i-divider-color-accent: var(--i-border-disabled);
	--i-divider-border-sm: var(--i-border-width-sm);
	--i-divider-border-md: var(--i-border-width-md);
	--i-icon-primary-default: var(--i-icon-color-default);
	--i-icon-sizing-xs: var(--i-icon-size-xs);
	--i-icon-sizing-sm: var(--i-icon-size-sm);
	--i-icon-sizing-md: var(--i-icon-size-md);
	--i-button-secondary-background: var(--i-background-default);
	--i-button-secondary-color: var(--i-text-color-secondary);
	--i-button-secondary-icon: var(--i-icon-color-secondary);
	--i-button-secondary-border: var(--i-color-secondary-200);
	--i-button-primary-color: var(--i-text-color-accent);
	--i-button-primary-icon: var(--i-icon-color-accent);
	--i-button-hyperlink-color: var(--i-text-color-default);
	--i-button-loading-background: var(--i-background-disabled);
	--i-button-loading-icon: var(--i-icon-color-secondary);
	--i-button-border-width-none: var(--i-border-width-none);
	--i-button-border-width-sm: var(--i-border-width-sm);
	--i-button-border-radius-sm: var(--i-border-radius-sm);
	--i-button-border-radius-md: var(--i-border-radius-md);
	--i-button-border-radius-lg: var(--i-border-radius-lg);
	--i-button-border-radius-xl: var(--i-border-radius-xl);
	--i-button-padding-x-2xs: var(--i-spacing-container-2xs);
	--i-none: var(--i-border-width-none);
	--i-button-padding-x-xs: var(--i-spacing-container-xs);
	--i-sm: var(--i-border-width-sm);
	--i-button-gap-xs: var(--i-spacing-gap-xs);
	--i-button-padding-x-sm: var(--i-spacing-container-sm);
	--i-button-padding-y-2xs: var(--i-spacing-container-2xs);
	--i-button-padding-x-md: var(--i-spacing-container-md);
	--i-button-padding-x-lg: var(--i-spacing-container-lg);
	--i-button-padding-y-xs: var(--i-spacing-container-xs);
	--i-button-padding-y-sm: var(--i-spacing-container-sm);
	--i-button-padding-y-md: var(--i-spacing-container-md);
	--i-button-font-fontFamily: var(--i-text-body-family);
	--i-button-font-weight: var(--i-text-body-weight);
	--i-button-font-size-sm: var(--i-typography-font-size-sm);
	--i-button-font-size-md: var(--i-typography-font-size-md);
	--i-button-font-size-lg: var(--i-typography-font-size-lg);
	--i-button-primary-hover-background: var(--i-color-primary-600);
	--i-button-secondary-hover-background: var(--i-background-hover);
	--i-button-secondary-hover-color: var(--i-color-primary-900);
	--i-button-primary-hover-color: var(--i-color-primary-50);
	--i-button-primary-hover-icon: var(--i-icon-color-default);
	--i-button-secondary-hover-icon: var(--i-icon-color-default);
	--i-button-secondary-hover-border: var(--i-color-secondary-200);
	--i-button-hyperlink-hover-color: var(--i-text-color-subtle);
	--i-button-primary-pressed-background: var(--i-color-primary-700);
	--i-button-primary-pressed-color: var(--i-text-color-accent);
	--i-button-primary-pressed-icon: var(--i-icon-color-accent);
	--i-button-secondary-pressed-background: var(--i-color-secondary-100);
	--i-button-secondary-pressed-color: var(--i-color-secondary-900);
	--i-button-secondary-pressed-icon: var(--i-icon-color-default);
	--i-button-secondary-pressed-border: var(--i-color-primary-900);
	--i-button-secondary-disabled-background: var(--i-background-disabled);
	--i-button-secondary-disabled-color: var(--i-text-color-disabled);
	--i-button-secondary-disabled-icon: var(--i-icon-color-disabled);
	--i-button-secondary-disabled-border: var(--i-border-disabled);
	--i-button-hyperlink-pressed-color: var(--i-text-color-pressed);
	--i-button-primary-disabled-background: var(--i-background-disabled);
	--i-button-primary-disabled-color: var(--i-text-color-disabled);
	--i-button-primary-disabled-icon: var(--i-icon-color-disabled);
	--i-button-hyperlink-disabled-color: var(--i-text-color-disabled);
	--i-button-hyperlink-error-color: var(--i-text-color-error);
	--i-button-hyperlink-success-color: var(--i-text-color-success);
	--i-button-primary-error-background: var(--i-background-error);
	--i-button-primary-error-color: var(--i-text-color-error);
	--i-button-primary-error-icon: var(--i-icon-color-error);
	--i-button-primary-success-background: var(--i-background-success);
	--i-button-primary-success-color: var(--i-text-color-success);
	--i-button-primary-success-icon: var(--i-icon-color-success);
	--i-button-secondary-error-background: var(--i-background-error);
	--i-button-secondary-success-background: var(--i-background-success);
	--i-button-secondary-success-color: var(--i-text-color-success);
	--i-button-secondary-success-icon: var(--i-icon-color-success);
	--i-button-secondary-success-border: var(--i-border-success);
	--i-button-secondary-error-color: var(--i-text-color-error);
	--i-button-secondary-error-icon: var(--i-icon-color-error);
	--i-button-secondary-error-border: var(--i-border-error);
	--i-button-sizing-xs: var(--i-sizing-xs);
	--i-button-sizing-sm: var(--i-sizing-sm);
	--i-button-sizing-md: var(--i-sizing-md);
	--i-button-sizing-lg: var(--i-sizing-lg);
	--i-button-sizing-xl: var(--i-sizing-xl);
	--i-sidebar-color-background: var(--i-background-default);
	--i-sidebar-color-text: var(--i-text-color-default);
	--i-sidebar-color-product-a: var(--i-color-product-a-base);
	--i-sidebar-border-width-none: var(--i-border-width-none);
	--i-sidebar-gap-lg: var(--i-spacing-gap-lg);
	--i-sidebar-sizing-md: var(--i-sizing-sm);
	--i-sidebar-padding-x-xl: var(--i-spacing-container-xl);
	--i-sidebar-font-fontFamily: var(--i-text-body-family);
	--i-sidebar-font-size-lg: var(--i-typography-font-size-lg);
	--i-sidebar-font-weight: var(--i-text-subtitle-weight);
	--i-sidebar-padding-y-lg: var(--i-spacing-container-xl);
	--i-sidebar-sizing-lg: var(--i-sizing-lg);
	--i-sidebar-sizing-xl: var(--i-sizing-xl);
	--i-sidebar-border-radius-2xl: var(--i-border-radius-2xl);
	--i-sidebar-font-lineHeight-lg: var(--i-typography-lineHeight-lg);
	--i-button-font-lineHeight-sm: var(--i-typography-lineHeight-sm);
	--i-button-font-lineHeight-md: var(--i-typography-lineHeight-md);
	--i-button-font-lineHeight-lg: var(--i-typography-lineHeight-lg);
	--i-surface-page: var(--i-color-surface-100);
	--i-background-default: var(--i-color-secondary-50);
	--i-background-hover: var(--i-color-primary-100);
	--i-background-subtle: var(--i-color-primary-100);
	--i-background-accent: var(--i-color-primary-600);
	--i-background-disabled: var(--i-color-secondary-200);
	--i-background-info: var(--i-color-primary-100);
	--i-background-error: var(--i-color-error-50);
	--i-background-success: var(--i-color-success-50);
	--i-background-warning: var(--i-color-warning-100);
	--i-border-default: var(--i-color-secondary-200);
	--i-border-hover: var(--i-color-primary-400);
	--i-border-accent: var(--i-color-primary-600);
	--i-border-disabled: var(--i-color-secondary-400);
	--i-border-secondary: var(--i-color-secondary-600);
	--i-border-info: var(--i-color-primary-700);
	--i-border-error: var(--i-color-error-700);
	--i-border-success: var(--i-color-success-800);
	--i-text-color-default: var(--i-color-primary-900);
	--i-text-color-hover: var(--i-color-primary-50);
	--i-text-color-accent: var(--i-color-primary-50);
	--i-text-color-subtle: var(--i-color-primary-400);
	--i-text-color-pressed: var(--i-color-primary-800);
	--i-text-color-disabled: var(--i-color-secondary-400);
	--i-text-color-secondary: var(--i-color-secondary-700);
	--i-text-color-error: var(--i-color-error-700);
	--i-text-color-success: var(--i-color-success-800);
	--i-text-color-warning: var(--i-color-warning-500);
	--i-border-warning: var(--i-color-warning-700);
	--i-icon-color-default: var(--i-color-primary-900);
	--i-icon-color-hover: var(--i-color-primary-50);
	--i-icon-color-accent: var(--i-color-primary-50);
	--i-icon-color-subtle: var(--i-color-primary-400);
	--i-icon-color-pressed: var(--i-color-primary-800);
	--i-icon-color-disabled: var(--i-color-secondary-400);
	--i-icon-color-secondary: var(--i-color-secondary-600);
	--i-icon-color-error: var(--i-color-error-700);
	--i-icon-color-success: var(--i-color-success-800);
	--i-icon-color-warning: var(--i-color-warning-500);
	--i-icon-size-xs: var(--i-sizing-2xs);
	--i-icon-size-sm: var(--i-sizing-xs);
	--i-icon-size-md: var(--i-sizing-md);
	--i-icon-size-lg: var(--i-sizing-lg);
	--i-icon-size-xl: var(--i-sizing-xl);
	--i-text-heading-family: var(--i-typography-font-family-lato);
	--i-text-heading-weight: var(--i-typography-font-weight-bold);
	--i-text-heading-size-xl: var(--i-typography-font-size-250);
	--i-text-heading-size-2xl: var(--i-typography-font-size-300);
	--i-text-heading-size-3xl: var(--i-typography-font-size-350);
	--i-text-heading-size-4xl: var(--i-typography-font-size-400);
	--i-text-heading-size-5xl: var(--i-typography-font-size-450);
	--i-text-heading-size-6xl: var(--i-typography-font-size-500);
	--i-text-subtitle-family: var(--i-typography-font-family-lato);
	--i-text-subtitle-weight: var(--i-typography-font-weight-bold);
	--i-text-body-family: var(--i-typography-font-family-lato);
	--i-text-body-size-xs: var(--i-typography-font-size-50);
	--i-text-body-size-sm: var(--i-typography-font-size-100);
	--i-text-body-size-md: var(--i-typography-font-size-150);
	--i-text-body-size-lg: var(--i-typography-font-size-200);
	--i-text-body-weight: var(--i-typography-font-weight-regular);
	--i-text-caption-weight: var(--i-typography-font-weight-regular);
	--i-text-subtitle-size-xs: var(--i-typography-font-size-50);
	--i-text-subtitle-size-sm: var(--i-typography-font-size-100);
	--i-text-subtitle-size-md: var(--i-typography-font-size-150);
	--i-text-subtitle-size-lg: var(--i-typography-font-size-200);
	--i-text-caption-size-xs: var(--i-typography-font-size-50);
	--i-text-hyperlink-size-sm: var(--i-typography-font-size-100);
	--i-text-hyperlink-weight: var(--i-typography-font-weight-regular);
}