/*——————————————————————————————————————————————————————————*\
 * BLOCK
\*——————————————————————————————————————————————————————————*/

.incontrol-panel {
	display: flex;
	flex-direction: column;
	gap: var(--i-spacing-gap-lg);
	flex-grow: 1;
}

/*——————————————————————————————————————————————————————————*\
 * MODIFIERS BLOCK ( --modifier ) 
\*——————————————————————————————————————————————————————————*/

.incontrol-panel {
	
}

/*——————————————————————————————————————————————————————————*\
 * EXCLUSIVE PROJECT ( other elements ) 
\*——————————————————————————————————————————————————————————*/

.incontrol-panel {
	
}