// ! Por revisar si se utiliza o no

/*——————————————————————————————————————————————————————————*\
 * TOKENS
\*——————————————————————————————————————————————————————————*/

:root { --NOTE-TOOLBAR-COMPONENT: 'prToolbar ( Custom PrimeNG )';

	--i-toolbar: var();

}

/*——————————————————————————————————————————————————————————*\
 * MODIFIER PRIME
\*——————————————————————————————————————————————————————————*/

.prToolbar {

	&.p-toolbar {
		background-color: transparent;
		color: currentColor;
		border: 0;
		border-radius: 0;
		padding: 0;
		height: 100%;
	}

	& .p-toolbar-start {

	}

	& .p-toolbar-center {

	}

	& .p-toolbar-end {

	}

}

/*——————————————————————————————————————————————————————————*\
 * ELEMENTS ( prToolbar )
\*——————————————————————————————————————————————————————————*/

.prToolbar {
	
}

/*——————————————————————————————————————————————————————————*\
 * MODIFIERS ELEMENTS ( -- )
\*——————————————————————————————————————————————————————————*/

.prToolbar {
	
}

/*——————————————————————————————————————————————————————————*\
 * SKELETON
\*——————————————————————————————————————————————————————————*/

.skToolbar {
	
}