/*——————————————————————————————————————————————————————————*\
 * BLOCK ( block )
\*——————————————————————————————————————————————————————————*/

.bpQuickAccess {

	--background: var(--i-color-new-grey-50);
	--hover-background: var(--i-color-new-grey-500);
	--active-background: var(--i-color-new-grey-900);

	display: flex;
	gap: var(--i-card-body-sm-gap);
	padding: var(--i-spacing-container-lg) var(--i-spacing-container-md);
	flex-direction: column;
	align-items: center;
	flex-basis: 100%;
	border: 0;
	border-radius: var(--i-border-radius-xl);
	background-color: var(--background);
	cursor: pointer;
	user-select: none;

	&:hover {
		background-color: var(--hover-background);
	}

	&:active {
		background-color: var(--active-background);
	}

	&:focus-visible {
		outline: 1px solid var(--i-button-hyperlink-color);
		outline-offset: var(--p-button-focus-ring-offset);
	}

}

/*——————————————————————————————————————————————————————————*\
 * ELEMENTS ( __element )
\*——————————————————————————————————————————————————————————*/

.bpQuickAccess {


	&__icon {

	}

	&__content {
		text-align: center;
	}

	&__title {
		font-weight: bold;
		font-size: var(--i-typography-fontSize-lg);
		line-height: var(--i-typography-lineHeight-lg);
	}

	&__description {
		font-size: var(--i-typography-fontSize-md);
		line-height: var(--i-typography-lineHeight-md);
	}

	&__meta {
		margin-top: auto;
	}

}

/*——————————————————————————————————————————————————————————*\
 * MODIFIERS ( --modifier )
\*——————————————————————————————————————————————————————————*/

.bpQuickAccess {

	// --- accent ---

	&--efectiveSoon {
		--background: var(--i-color-teal-50);
		--hover-background: var(--i-color-teal-500);
		--active-background: var(--i-color-teal-900);
	}

	&--efectiveMonth {
		--background: var(--i-color-pastelgreen-50);
		--hover-background: var(--i-color-pastelgreen-500); 
		--active-background: var(--i-color-pastelgreen-900);
	}

	&--recentlyPublished {
		--background: var(--i-color-olive-50);
		--hover-background: var(--i-color-olive-500);
		--active-background: var(--i-color-olive-900);
	}

	&--saved {
		--background: var(--i-color-yellow-50);
		--hover-background: var(--i-color-yellow-500);
		--active-background: var(--i-color-yellow-900);
	}

	// --- disabled ---

	&--disabled {
		--background: var(--i-color-secondary-200);
		--hover-background: var(--i-color-secondary-200);
		--active-background: var(--i-color-secondary-200);

		cursor: not-allowed;
		pointer-events: none;
	}

	&--disabled,
	&--disabled .icon {
		color: var(--i-color-secondary-400);
	}
	
	&--disabled .prBadge {
		background: var(--background);
		border-color: var(--i-color-secondary-400);
	}

}