/*——————————————————————————————————————————————————————————*\
 * BLOCK ( block )
\*——————————————————————————————————————————————————————————*/

.bpListItem {
	--custom-color: var(--accent-color, var(--i-color-primary-base));

	position: relative;
	display: flex;
	flex-direction: column;
	gap: var(--i-spacing-gap-sm);
	padding: var(--i-spacing-container-lg);
	font-size: var(--i-typography-font-size-sm);
	border-radius: var(--i-border-radius-lg);
	border: 1px solid transparent;
	background: var(--i-background-default);
	outline: 1px solid transparent;
	transition: all var(--i-motion-base);
	
	overflow: hidden;
	user-select: none;


	// decorative

	&:not(:has(.prSkeleton)) {
		cursor: pointer;
	
		&:hover {
			background-color: var(--i-color-new-grey-50);
		}
	}


	// active
	
	&:not(:has(.prSkeleton)):is(:active, .is-active) {
		border-color: var(--i-color-new-grey-900);
		background-color: var(--i-color-new-grey-50);
	}


	&:not(:has(.prSkeleton)):is(:active, .is-active) &__accent {
		width: 0;
	}

	// focus visible

	&:focus-visible {
		outline-color: var(--custom-color);
		outline-offset: -1px;
	}

}

/*——————————————————————————————————————————————————————————*\
 * ELEMENTS ( __element )
\*——————————————————————————————————————————————————————————*/

.bpListItem {

	// --- structure ---

	&__accent {
		content: '';
		position: absolute;
		inset: 0 auto 0 0;
		width: 4px;
		transition: width var(--i-motion-base);
		background-color: var(--custom-color);
	}

	&__meta {
		display: flex;
		gap: var(--i-spacing-gap-sm);
		align-items: center;
	}

	&__header {
		display: flex;
		gap: var(--i-spacing-gap-xs);
		background-color: var(--i-color-secondary-100);
		padding: 8px;
		border-radius: 8px;
	}

	&__footer {
		display: flex;
		gap: var(--i-spacing-gap-xs);
	}

	// --- areas ---

	&__badge {
		display: flex;
		gap: var(--i-spacing-gap-sm);
	}

	&__date {

	}

	&__summary {
		flex-grow: 1;
	}

	&__title {
		font-size: var(--i-typography-font-size-2xl);
		line-height: var(--i-typography-lineHeight-2xl);
		font-weight: bold;
	}

	&__impact {
		display: flex;
		flex-direction: column;
		line-height: 1em;
	}

	&__brand {
		display: flex;
		gap: var(--i-spacing-gap-sm);
	}

	&__action {
		display: flex;
		gap: var(--i-spacing-gap-sm);
	}

	// --- adjustment of elements ---

	&__date,
	&__impact,
	&__action {
		margin-left: auto;
		margin-bottom: auto;
	}

}

/*——————————————————————————————————————————————————————————*\
 * MODIFIERS ( --modifier )
\*——————————————————————————————————————————————————————————*/

.bpListItem {

	// --- accent color ---

	&--announcement 	{ --custom-color: var(--i-color-primary-700); }	
	&--manual 			{ --custom-color: var(--i-color-success-700); }	
	&--price-guide 	{ --custom-color: var(--i-color-warning-700); }	
	&--non-financial 	{ --custom-color: var(--i-color-secondary-700); }	

}
