/*——————————————————————————————————————————————————————————*\
 * BLOCK
\*——————————————————————————————————————————————————————————*/

.brand-publications {
	display: flex;
	flex-direction: column;
	gap: var(--i-spacing-gap-lg);
	flex-grow: 1;
}

/*——————————————————————————————————————————————————————————*\
 * MODIFIERS BLOCK ( --modifier ) 
\*——————————————————————————————————————————————————————————*/

.brand-publications {

}

/*——————————————————————————————————————————————————————————*\
 * EXCLUSIVE PROJECT ( other elements ) 
\*——————————————————————————————————————————————————————————*/

.brand-publications {

}