/*——————————————————————————————————————————————————————————*\
 * BLOCK
\*——————————————————————————————————————————————————————————*/

.dashboard {
	display: flex;
	flex-direction: column;
	gap: var(--i-spacing-gap-lg);
	flex-grow: 1;
}

/*——————————————————————————————————————————————————————————*\
 * MODIFIERS BLOCK ( --modifier ) 
\*——————————————————————————————————————————————————————————*/

.dashboard {

}

/*——————————————————————————————————————————————————————————*\
 * EXCLUSIVE PROJECT ( other elements ) 
\*——————————————————————————————————————————————————————————*/

.dashboard {

	& .ptFilterbar--equalItems { 
		--equal-width: 10.85rem; 
	}

}